@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    background-image: url(../PUBLIC/IMAGENS/FUNDO.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; /* para ficar o rodape fixo*/
    flex-shrink: 0; /* para ficar o container fixo*/
    
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    margin-top: auto;
}

.container {
    width: 800px;
    background-color: #fff0f6;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
   
}

.botao{
    display: block;
    margin: 0 auto;
    justify-content: center;
    background: transparent;
    color: #96475b;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 17px;
    cursor: pointer;
    font-weight: 600;
    width : 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #96475b;
    transition: all 0.3s ease;

}

.rodape{
width: 100%;
display: flex;
justify-content: center;
margin-top: auto;
padding-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #96475b;
}